body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


.recipe-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.recipe-list li {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-list li h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.recipe-list li p {
    font-size: 16px;
    color: #666;
}

.recipe-list li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.recipe-list li a:hover {
    background-color: #0056b3;
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
